@use 'styles.scss' as colors;

// 

.logo {
  height: 2em;
  // padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  padding-bottom: 1em;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.text-orange {
  color: colors.$orange;
}

.text-blue {
  color: colors.$blue;
}

.rounded-border {
  border-radius: 24px;
}

.opsBg {
  background-color: #f0eff8;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
}

.commBg {
  background-color: #fdf6f0;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
}

.text-left {
  text-align: left;
}

.iconXl {
  font-size: 3rem;
  color: var(--accent-color);
}

@media screen and (max-width:768px) {
  .box-careers {
    width: 100% !important
  }
}

.overlay-gradient {
  // background: linear-gradient(0deg, #ffffff 0%, rgba(255, 255, 255, 0) 20%);
  // position: absolute;
  // width: 100%;
  // height: 100%;
  // z-index: 1;
  // display: block;
}

.container-overlay {
  // position: relative;
  // overflow: hidden;
}

.black-white {
  filter: contrast(1.15);
}

.btn-get-started {
  color: var(--contrast-color);
  background: var(--accent-color);
  font-family: var(--heading-font);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 14px 40px;
  border-radius: 50px;
  transition: .3s;
  border: 2px solid color-mix(in srgb, var(--accent-color), transparent 30%);
  background-color:
    color-mix(in srgb, var(--accent-color), transparent 30%);
}

.cta {
  & h2 {
    font-size: 2.5rem;
    font-weight: 700;
  }

  display: flex;
  align-items: center;
}